/* override c3 default behavior of making bars semi transparent when you hover over them */
.c3-bar._expanded_ {
  fill-opacity: 1 !important;
}

/* style for upvote and downvote arrows on the mouseover upper tooltip */
polygon.vote-polygon {
  fill: #909194;
  vertical-align: left;
}

#n-score-container {
  display:inline-block;
  text-align: center;
}

/* by default the tooltipster plugin adds a "tail" to the tooltips, this just removes the tail as it looks odd */
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  visibility: hidden;
}

.tooltipster-invisible {
  /* We have to give tooltipster something, so just initialize an empty div */
}
.tooltipster-invisible .tooltipster-content {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}

.upvote {
  cursor: pointer;
}

.downvote {
  cursor: pointer;
}