{% load staticfiles %}
<html>
  <head>
    <title>N of Everything - Vote - {{data.doi_name}}</title>
  </head>
  <body>
    <h1>Voting on DOI: {{data.doi_name}}</h1>
    <hr>
    <div id="chart-container">
      <div id="chart"></div>
      <div id="n-score-container" style="width: 200px;">
        <img id="n-of-image" style="width: 32px; height: 32px; vertical-align: top;" src="{% static "images/nlogo.png" %}"></img>
        <span id="n-of-text" style="font-size: 32; padding-left: 0.1em; color: #777777;">of</span>
        <span id="n-score" style="font-size: 32; font-weight: bold; padding-left: 0.1em;">?</span>
      </div>
    </div>
  </body>

  <!-- Load external css dependencies -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.0.5/css/tooltipster.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.0.5/css/themes/tooltipster-shadow.min.css" rel="stylesheet" type="text/css">

  <!-- Load external javascript dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.0.5/js/jquery.tooltipster.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js"></script>

  <!-- Load app specific styles -->
  <link href="{% static "styles/global-style.css" %}" rel="stylesheet" type="text/css">

  <!-- Load chart widget library -->
  <link href="{% static "styles/n-voting-widget-style.css" %}" rel="stylesheet" type="text/css">
  <script src="{% static "scripts/n-voting-widget.js" %}"></script>

  <script>
  var viewModel = {{ data|safe }}; // use django templating engine to inject the view model into the page

  // when the page has finished loading, call the initialize method on our voting widget API
  $(document).ready(function() {
    nVotingWidget.renderChart("#chart", {
      width: 200,
      height: 200,
      categoryScores: viewModel.category_scores,
      categoryIdentifiers: viewModel.category_identifiers,
      nScore: viewModel.n_score,
      nScoreDiv: "#n-score",
      nScoreDivHiddenOpacity: 0.1,
      upvotes: viewModel.upvotes,
      downvotes: viewModel.downvotes,
      barColors: ["gold", "#CF5300", "brown"],
      votingPermissions: viewModel.voting_permissions
    });
  });
  </script>
</html>